{% extends 'base.html' %}

<!-- header block -->
{% block header %}
<h1>{% block title %}Add Post{% endblock %}</h1>
{% endblock %}

<!-- content block -->
{% block content %}
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form.title.label }} {{ form.title(class_="form-control") }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form.body.label }} {{ form.body(class_="form-control") }}
        </div>
    </div>
    <hr class="mb-4" /> {{form.submit()}}
</form>
{% endblock %}