{% extends 'base.html' %}

<!-- header block -->
{% block header %}
<h1>{% block title %}Posts{% endblock %}</h1>
<a style="display:inline" class="btn btn-success float-right" href="/add/post">+ New Post</a> {% endblock %}

<!-- content block -->
{% block content %} {% for post in posts %}
<article class="post">
    <header>
        <div>
            <h1>{{ post['title'] }}</h1>
            <div class="about">
                <small>by {{ post['username'] }} on {{ post['created'] }}</small>
            </div>
        </div>
    </header>
    <p style="white-space:pre-wrap">{{ post['body'] }}</p>
    <br>

    <br>
</article>

{% if not loop.last %}
<hr /> {% endif %} {% endfor %} {% endblock %}